cmsplugin-filer==1.1.2
defusedxml==0.4.1
diff-match-patch==20121119
Django==1.8.7
django-allauth==0.26.1
django-annoying==0.9.0
django-appconf==1.0.2
django-ckeditor==5.0.3
django-classy-tags==0.7.2
django-cms==3.3.1
django-daterange-filter==1.3.0
django-filer==1.2.4
django-formset-js==0.5.0
django-formtools==1.0
django-haystack==2.5.0
django-import-export==0.4.5
django-jquery-js==2.1.4
django-mptt==0.8.5
django-mptt-admin==0.3.8
django-polymorphic==0.8.1
django-registration==2.1.2
django-report-builder==3.4.1
django-report-utils==0.3.15
django-reversion==2.0.6
django-scheduler==0.8
django-sekizai==0.9.0
Django-Select2==4.3.2
django-suit==0.2.19
django-treebeard==4.0.1
djangocms-admin-style==1.2.3
djangocms-attributes-field==0.1.1
djangocms-file==1.0
djangocms-flash==0.3.0
djangocms-googlemap==0.5.1
djangocms-inherit==0.2.1
djangocms-link==1.8.2
djangocms-picture==1.0.0
djangocms-snippet==1.8.1
djangocms-teaser==0.2.0
djangocms-text-ckeditor==3.0.1
djangocms-video==1.0.0
djangorestframework==3.9.1
easy-thumbnails==2.3
elasticsearch==2.3.0
future==0.15.2
html5lib==0.9999999
icalendar==3.10
jdcal==1.2
oauthlib==1.1.2
openpyxl==2.2.1
Pillow==3.3.0
python-dateutil==2.5.3
python3-openid==3.0.10
pytz==2016.6.1
requests==2.10.0
requests-oauthlib==0.6.2
simplejson==3.8.2
six==1.10.0
tablib==0.11.2
Unidecode==0.4.19
urllib3==1.16
virtualenv==15.0.2
