{% extends "base.html" %}

{% block base_content %}
<h1>Смена пароля</h1>
<form method="post" action="">
{% csrf_token %}

<dl class="register">
{% for field in form %}
    <dt>{{ field.label_tag }}</dt>
        <dd class="clearfix">{{ field }}
        {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
        {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
        </dd>
{% endfor %}
</dl>
<input type="submit" value="Отправить" class="clearfix">
</form>
{% endblock base_content %}